##############################################################################
# Normalize line endings to CRLF on checkout
##############################################################################
*           text=auto eol=crlf

##############################################################################
# Merge driver project and solution files
##############################################################################
*.sln       merge=union eol=crlf
*.csproj    merge=union eol=crlf
*.vbproj    merge=union eol=crlf
*.vcxproj   merge=union eol=crlf
*.vcproj    merge=union eol=crlf
*.dbproj    merge=union eol=crlf
*.fsproj    merge=union eol=crlf
*.lsproj    merge=union eol=crlf
*.wixproj   merge=union eol=crlf
*.modelproj merge=union eol=crlf
*.sqlproj   merge=union eol=crlf
*.wwaproj   merge=union eol=crlf

##############################################################################
# C# source file
##############################################################################
*.cs        diff=csharp

*.bat       text eol=crlf

##############################################################################
# Image files
##############################################################################
*.jpg       binary
*.png       binary
*.gif       binary
*.tga       binary
